  PORT = 5000
  MONGO_URI = mongodb://localhost:27017/shopnest-mern
  JWT_SECRET = your_jwt_secret_key_asdfghjkl
  
  EMAIL_USER = arsh001125@gmail.com
  EMAIL_PASS = qdqu pbqe rdnn fjjs


  CLOUDINARY_CLOUD_NAME = dzxjelluy
  CLOUDINARY_API_KEY = 492227579537773
  CLOUDINARY_API_SECRET = *********************************

  RAZORPAY_KEY_ID = signup_data
  RAZORPAY_KEY_SECRET = sign_data

  email: user@gmsil.com,
  password: Admin123
